h1{
  text-align: center;
}
.hhtml{
  background-image: url('../img/wal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.searchbtn{
  margin-top:10px;
}

.btnwrapper{
  display: grid;
  grid: 100px / 50% 50%;
}
.btnwrapper > button{
  cursor: pointer;
}
.btnwrapper > button:hover{
  background-color: rgb(126, 126, 126);
  color:white;
}
.ind > p{
  color: rgb(214, 214, 214);
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}
.ind button{
  font-size: 2vw;
}
